*{
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color-scheme: light dark;
}

main{
  inline-size: min(80%, 800 / 16 * 1rem);
  margin: 2rem auto;
}

button{
  background-color: light-dark(oklch(0.3446 0 0), oklch(0.8792 0 0));
  padding: 0.75rem clamp(0.5rem, 0.4643rem + 0.9524vw, 1rem);
  border-radius: 1rem;
  outline-offset: 3px;
  color: light-dark(oklch(0.9496 0 0), oklch(0.3022 0.0014 17.24));
  font-size: clamp(0.75rem, 0.7143rem + 0.9524vw, 1.25rem);
  font-weight: 700;
  cursor: pointer;
  transition: background-color 1200ms, color 1500ms;
}

button:is(:hover, :focus-visible){
  background-color: oklch(0.7451 0.1356 251.22);
  color: oklch(0.2437 0.0497 252.46);
  transition: background-color 800ms, color 750ms;
}

.open-modal{
  display: grid;
  place-self: center;
}

dialog{
  inline-size: fit-content;
  padding: clamp(1rem, 0.9286rem + 1.9048vw, 2rem) clamp(1rem, 0.8983rem + 2.7119vw, 3rem);
  border-radius: 0.5rem;
  text-align: center;
  margin: auto;
}

dialog::backdrop{
  background-color: oklch(0.5999 0 0 / 70.44%);
}

h1{
  margin-block: clamp(0.5rem, 0.4286rem + 1.9048vw, 1.5rem);
  font-size: clamp(0.75rem, 0.6964rem + 1.4286vw, 1.5rem);
}